{% load static %}

<!DOCTYPE html>
<html dir="rtl" class="disable-onload-scroll side-header-overlay-full-screen overflow-hidden" lang="">
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>قالب Porto - قالب HTML چند منظوره پورتو</title>

    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Porto - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/animate/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/owl.carousel/assets/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/magnific-popup/magnific-popup.min.css' %}">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme-elements.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme-blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme-shop.css' %}">

    <!-- Current Page CSS -->
    <link rel="stylesheet" href="{% static 'vendor/rs-plugin/css/settings.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/rs-plugin/css/layers.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/rs-plugin/css/navigation.css' %}">

    <!-- Demo CSS -->


    <!-- Skin CSS -->
    <link rel="stylesheet" href="{% static 'css/skins/default.css' %}">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!-- Head Libs -->
    <script src="{% static 'vendor/modernizr/modernizr.min.js' %}"></script>


</head>
<body class="loading-overlay-showing" data-loading-overlay data-plugin-section-scroll
      data-plugin-options="{'targetClass': '.section-scroll', 'dotsClass': 'section-scroll-dots-navigation-style-2 section-scroll-dots-navigation-light', 'changeHeaderLogo': true, 'headerLogoDark': 'img/logo-default-slim.png', 'headerLogoLight': 'img/logo-default-slim-dark.png'}">
<div class="loading-overlay">
    <div class="bounce-loader">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>

<div class="body bg-dark">


    <div class="sticky-wrapper sticky-wrapper-transparent sticky-wrapper-border-bottom bg-transparent"
         data-plugin-sticky data-plugin-options="{'minWidth': 0, 'stickyStartEffectAt': 1, 'padding': {'top': 0}}">
        <div class="sticky-body">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-9">
                        <div class="py-4">
                            <a href="index.html">
                                <img alt="Porto" width="82" height="40" src="{% static 'img/jj1.jpeg' %}">
                            </a>
                        </div>
                    </div>
                    <div class="col-3 text-right">
                        <button class="hamburguer-btn hamburguer-btn-light" data-set-active="false">
									<span class="hamburguer">
										<span></span>
										<span></span>
										<span></span>
									</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <header id="header" class="side-header-overlay-full-screen side-header-hide pt-0"
            data-plugin-options="{'stickyEnabled': false}">

        <button class="hamburguer-btn hamburguer-btn-light hamburguer-btn-side-header hamburguer-btn-side-header-overlay active"
                data-set-active="false">
					<span class="close">
						<span></span>
						<span></span>
					</span>
        </button>

        <div class="header-body d-flex h-100">
            <div class="header-column flex-row flex-lg-column justify-content-center h-100">
                <div class="header-container container d-flex h-100">
                    <div class="header-row header-row-side-header flex-row h-100">
                        <div class="side-header-scrollable scrollable colored-slider h-50 mt-5" data-plugin-scrollable>
                            <div class="scrollable-content">
                                <div class="header-nav header-nav-light-text header-nav-links header-nav-links-side-header header-nav-links-vertical header-nav-links-vertical-expand header-nav-click-to-open align-self-start">
                                    <div class="header-nav-main header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-effect-4 header-nav-main-sub-effect-1">
                                        <nav>
                                            <ul class="nav nav-pills" id="mainNav">
                                                <li class="dropdown">
                                                    <a class="dropdown-item dropdown-toggle" href="#">
                                                        خانه
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a class="dropdown-item" href="index.html">
                                                                صفحه اول
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="#">
                                                                پیش‌نمایش ها
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a class="dropdown-item dropdown-toggle" href="#">
                                                        صفحات
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-submenu">
                                                            <a class="dropdown-item" href="#">تماس با ما</a>
                                                            <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item"
                                                                       href="">تماس با ما -
                                                                    پیشرفته</a></li>
                                                                <li><a class="dropdown-item" href="">تماس
                                                                    با ما - پایه</a></li>
                                                                <li><a class="dropdown-item"
                                                                       href="">تماس با ما -
                                                                    Recaptcha</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown-submenu">
                                                            <a class="dropdown-item" href="#">درباره ما</a>
                                                            <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item"
                                                                       href="">درباره ما -
                                                                    پیشرفته</a></li>
                                                                <li><a class="dropdown-item" href="">درباره
                                                                    ما - پایه</a></li>
                                                                <li><a class="dropdown-item" href="">درباره
                                                                    من</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a class="dropdown-item dropdown-toggle" href="#">
                                                        نمونه‌کارها
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-submenu">
                                                            <a class="dropdown-item" href="#">جزئیات پروژه</a>
                                                            <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item"
                                                                       href="">اسلایدر
                                                                    عریض</a></li>
                                                                <li><a class="dropdown-item"
                                                                       href="">اسلایدر
                                                                    کوچک</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div role="main" class="main">
        <section class="section section-scroll section-background border-0 m-0" data-section-scroll-title="PORTO BOX"
                 data-section-scroll-header-color="light"
                 style="background-image: url({% static 'img/slide-medical-2.jpg' %}); background-size: cover; background-position: center;">
            <div class="box-content">
                <br/>
                <br/>
                <div class="overflow-hidden mb-1">
                    <h2 class="font-weight-normal text-7 mb-0"><strong
                            class="font-weight-extra-bold mx-5">جستجو در بین کدهای کتاب ICD10</strong></h2>
                </div>
            </div>
            {#            <div class="row">#}
            {#                <div class="col-lg-6 col-md-12">#}
            {#                    <form>#}
            {#                        <div class="autocomplete">#}
            {#                            <h5>نام دستگاه</h5>#}
            {#                            <input id="myInput" type="text" name="myCountry" placeholder="نام دستگاه"#}
            {#                                   style="width: 300px">#}
            {#                        </div>#}
            {#                    </form>#}
            {#                    <form>#}
            {#                        <div class="autocomplete">#}
            {#                            <h5>سر فصل خدمتی</h5>#}
            {#                            <input id="myInput2" type="text" name="myCountry2" placeholder="سر فصل خدمتی">#}
            {#                        </div>#}
            {#                    </form>#}
            {#                </div>#}
            {#            </div>#}
            {#            <form>#}
            {#                <div class="autocomplete">#}
            {#                    <h5>گروه خدمتی</h5>#}
            {#                    <input id="myInput3" type="text" name="myCountry3" placeholder="گروه خدمتی">#}
            {#                </div>#}
            {##}
            {#            </form>#}

            <form>
                <div class="autocomplete">
                    <h5>شرح کد</h5>
                    <input id="myInput4" type="text" name="myCountry4" placeholder="شرح کد">

                </div>
            </form>
            <table id="explanations" class="text-color-dark"></table>


            <div>
                <h5>توضیحات</h5>
                <table id="descriptions" class="text-color-dark"></table>


                {#                <p id="myInput5" type="text" name="myCountry5" placeholder="توضیحات"></p>#}
            </div>


            <h5>کد ملی</h5>
            <p id="demo"></p>


            <div class="container-fluid h-100">
                <div class="row align-items-end h-100">
                    <div class="col-9 col-md-5 col-lg-3 overlay overlay-show overlay-op-9 overlay-backward py-2 appear-animation"
                         data-appear-animation="fadeInRightShorter">
                        <div class="position-relative z-index-2 py-4">
                            <h2 class="text-color-light font-weight-bold text-5 mb-2 appear-animation primary-font"
                                data-appear-animation="fadeInRightShorter" data-appear-animation-delay="300">آخرین
                                ورژن
                                ICD10</h2>
                            <a href="#"
                               class="d-inline-flex align-items-center btn btn-with-arrow font-weight-bold text-color-light text-2 p-0 appear-animation"
                               data-appear-animation="fadeInRightShorter" data-appear-animation-delay="700">
                                مشاهده بیشتر
                                <span class="d-inline-flex align-items-center bg-transparent box-shadow-none ml-2"><i
                                        class="fas fa-arrow-left text-color-light text-3 top-0"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </div>
</div>

<!-- Vendor -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/jquery.appear/jquery.appear.min.js' %}"></script>
<script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'vendor/jquery.cookie/jquery.cookie.min.js' %}"></script>
<script src="{% static 'vendor/popper/umd/popper.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/common/common.min.js' %}"></script>
<script src="{% static 'vendor/jquery.validation/jquery.validate.min.js' %}"></script>
<script src="{% static 'vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js' %}"></script>
<script src="{% static 'vendor/jquery.gmap/jquery.gmap.min.js' %}"></script>
<script src="{% static 'vendor/jquery.lazyload/jquery.lazyload.min.js' %}"></script>
<script src="{% static 'vendor/isotope/jquery.isotope.min.js' %}"></script>
<script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'vendor/vide/jquery.vide.min.js' %}"></script>
<script src="{% static 'vendor/vivus/vivus.min.js' %}"></script>
<script src="{% static 'vendor/nanoscroller/jquery.nanoscroller.min.js' %}"></script>

<!-- Theme Base, Components and Settings -->
<script src="{% static 'js/theme.js' %}"></script>

<!-- Current Page Vendor and Views -->
<script src="{% static 'vendor/rs-plugin/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'vendor/rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>

<!-- Theme Custom -->
<script src="{% static 'js/custom.js' %}"></script>

<!-- Theme Initialization Files -->
<script src="{% static 'js/theme.init.js' %}"></script>


<!--{#<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>#}-->
<!--{#<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>#}-->


<script>

    function createTableByJqueryEach(data, id) {


        var eTable = "<table><thead><tr><th colspan='3'>لیست موارد مشابه</th></tr><tr><th>انتخاب</th><th>عنوان</th></tr></thead><tbody>"
        $.each(data, function (index, row) {

            eTable += "<tr>";
            $.each(row, function (key, value) {
                eTable += "<td><button class=\"btnSelect\">Select</button></td>";
                eTable += "<td>" + value + "</td>";
            });
            eTable += "</tr>";
        });
        eTable += "</tbody></table>";
        $(id).html(eTable);
    }

    function createTableByForLoop(data) {
        var eTable = "<table><thead><tr><th colspan='3'>لیست موارد مشابه</th></tr><tr><th>col1</th><th>col2</th><th>col3</th</tr></thead><tbody>"
        for (var i = 0; i < data.length; i += 3) {
            eTable += "<tr>";
            eTable += "<td>" + data[i] + "</td>";
            {#eTable += "<td>" + data[i + 1] + "</td>";#}
            {#eTable += "<td>" + data[i + 2] + "</td>";#}
            eTable += "</tr>";
        }
        eTable += "</tbody></table>";
        $('#explanations').html(eTable);
    }


    $(document).ready(function () {
        $('#myInput4').on("keypress keydown OnChange", function () {

            var term = document.getElementById("myInput4");

            $.ajax({
                url: '/col10/',
                data: {
                    term: term.value,
                },
                method: 'get',

            })
                .done(function (response) {
                    var explanations = response.explanations;
                    {#alert("ssss")#}
                    {#createTableByForLoop(explanations);#}


                    createTableByJqueryEach(explanations, "#explanations");

                });


        });
    });
</script>

<script>
    $(document).ready(function () {

        // code to read selected table row cell data (values).
        $("#explanations").on('click', '.btnSelect', function () {
            // get the current row
            var currentRow = $(this).closest("tr");

            var col1 = currentRow.find("td:eq(0)").text(); // get current row 1st TD value
            var col2 = currentRow.find("td:eq(1)").text(); // get current row 2nd TD
            var col3 = currentRow.find("td:eq(2)").text(); // get current row 3rd TD
            var explanation = col1 + "\n" + col2 + "\n" + col3;

            {#alert(data);#}
            $.ajax({
                url: '/col11/',
                data: {
                    explanation: explanation,
                },
                method: 'get',

            })
                .done(function (response) {
                    var descriptions = response.descriptions;

                    createTableByJqueryEach(descriptions, "#descriptions");

                });
        });
    });

</script>

<script>
        $(document).ready(function () {

        // code to read selected table row cell data (values).
        $("#descriptions").on('click', '.btnSelect', function () {
            // get the current row
            var currentRow = $(this).closest("tr");

            var col1 = currentRow.find("td:eq(0)").text(); // get current row 1st TD value
            var col2 = currentRow.find("td:eq(1)").text(); // get current row 2nd TD
            var col3 = currentRow.find("td:eq(2)").text(); // get current row 3rd TD
            var explanation = col1 + "\n" + col2 + "\n" + col3;


            $.ajax({
                url: '/col12/',
                data: {
                    explanation: explanation,
                },
                method: 'get',

            })
                .done(function (response) {
                    var code = response.code;
                    alert(code);

                    {#createTableByJqueryEach(descriptions, "#descriptions");#}

                });
        });
    });

</script>

{#<script>#}
{##}
{#    $(document).ready(function () {#}
{##}
{#        // code to read selected table row cell data (values).#}
{#        $("#descriptions").on('click', '.btnSelect', function () {#}
{#            // get the current row#}
{#            var currentRow = $(this).closest("tr");#}
{##}
{#            var col1 = currentRow.find("td:eq(0)").text(); // get current row 1st TD value#}
{#            var col2 = currentRow.find("td:eq(1)").text(); // get current row 2nd TD#}
{#            var col3 = currentRow.find("td:eq(2)").text(); // get current row 3rd TD#}
{#            var description = col1 + "\n" + col2 + "\n" + col3;#}
{##}
{#            alert(description);#}
{#            $.ajax({#}
{#                url: '/col12/',#}
{#                data: {#}
{#                    description: description,#}
{#                },#}
{#                method: 'get',#}
{##}
{#            })#}
{#                .done(function (response) {#}
{#                    var code = response.code;#}
{#                    alert(code);#}
{##}
{#                });#}
{#        });#}
{#    });#}
{#</script>#}
{#Description#}


{##}
{#<script>#}
{#    function autocomplete(inp, arr) {#}
{#        /*the autocomplete function takes two arguments,#}
{#        the text field element and an array of possible autocompleted values:*/#}
{#        var currentFocus;#}
{#        /*execute a function when someone writes in the text field:*/#}
{#        inp.addEventListener("input", function (e) {#}
{#            var a, b, i, val = this.value;#}
{#            /*close any already open lists of autocompleted values*/#}
{#            closeAllLists();#}
{#            if (!val) {#}
{#                return false;#}
{#            }#}
{#            currentFocus = -1;#}
{#            /*create a DIV element that will contain the items (values):*/#}
{#            a = document.createElement("DIV");#}
{#            a.setAttribute("id", this.id + "autocomplete-list");#}
{#            a.setAttribute("class", "autocomplete-items");#}
{#            /*append the DIV element as a child of the autocomplete container:*/#}
{#            this.parentNode.appendChild(a);#}
{#            /*for each item in the array...*/#}
{#            for (i = 0; i < arr.length; i++) {#}
{#                /*check if the item starts with the same letters as the text field value:*/#}
{#                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {#}
{#                    /*create a DIV element for each matching element:*/#}
{#                    b = document.createElement("DIV");#}
{#                    /*make the matching letters bold:*/#}
{#                    b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";#}
{#                    b.innerHTML += arr[i].substr(val.length);#}
{#                    /*insert a input field that will hold the current array item's value:*/#}
{#                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";#}
{#                    /*execute a function when someone clicks on the item value (DIV element):*/#}
{#                    b.addEventListener("click", function (e) {#}
{#                        /*insert the value for the autocomplete text field:*/#}
{#                        inp.value = this.getElementsByTagName("input")[0].value;#}
{#                        /*close the list of autocompleted values,#}
{#                        (or any other open lists of autocompleted values:*/#}
{#                        closeAllLists();#}
{#                    });#}
{#                    a.appendChild(b);#}
{#                }#}
{#            }#}
{#        });#}
{#        /*execute a function presses a key on the keyboard:*/#}
{#        inp.addEventListener("keydown", function (e) {#}
{#            var x = document.getElementById(this.id + "autocomplete-list");#}
{#            if (x) x = x.getElementsByTagName("div");#}
{#            if (e.keyCode == 40) {#}
{#                /*If the arrow DOWN key is pressed,#}
{#                increase the currentFocus variable:*/#}
{#                currentFocus++;#}
{#                /*and and make the current item more visible:*/#}
{#                addActive(x);#}
{#            } else if (e.keyCode == 38) { //up#}
{#                /*If the arrow UP key is pressed,#}
{#                decrease the currentFocus variable:*/#}
{#                currentFocus--;#}
{#                /*and and make the current item more visible:*/#}
{#                addActive(x);#}
{#            } else if (e.keyCode == 13) {#}
{#                /*If the ENTER key is pressed, prevent the form from being submitted,*/#}
{#                e.preventDefault();#}
{#                if (currentFocus > -1) {#}
{#                    /*and simulate a click on the "active" item:*/#}
{#                    if (x) x[currentFocus].click();#}
{#                }#}
{#            }#}
{#        });#}
{##}
{#        function addActive(x) {#}
{#            /*a function to classify an item as "active":*/#}
{#            if (!x) return false;#}
{#            /*start by removing the "active" class on all items:*/#}
{#            removeActive(x);#}
{#            if (currentFocus >= x.length) currentFocus = 0;#}
{#            if (currentFocus < 0) currentFocus = (x.length - 1);#}
{#            /*add class "autocomplete-active":*/#}
{#            x[currentFocus].classList.add("autocomplete-active");#}
{#        }#}
{##}
{#        function removeActive(x) {#}
{#            /*a function to remove the "active" class from all autocomplete items:*/#}
{#            for (var i = 0; i < x.length; i++) {#}
{#                x[i].classList.remove("autocomplete-active");#}
{#            }#}
{#        }#}
{##}
{#        function closeAllLists(elmnt) {#}
{#            /*close all autocomplete lists in the document,#}
{#            except the one passed as an argument:*/#}
{#            var x = document.getElementsByClassName("autocomplete-items");#}
{#            for (var i = 0; i < x.length; i++) {#}
{#                if (elmnt != x[i] && elmnt != inp) {#}
{#                    x[i].parentNode.removeChild(x[i]);#}
{#                }#}
{#            }#}
{#        }#}
{##}
{#        /*execute a function when someone clicks in the document:*/#}
{#        document.addEventListener("click", function (e) {#}
{#            closeAllLists(e.target);#}
{#        });#}
{#    }#}
{#</script>#}
{##}
{#<script>#}
{#    var countries = {{ db_col_1 | safe }};#}
{##}
{#    autocomplete(document.getElementById("myInput"), countries);#}
{#</script>#}
{##}
{#<script>#}
{##}
{#    $(document).ready(function () {#}
{#        $('.autocomplete').bind("click change", function () {#}
{#            var query_text = document.getElementById("myInput");#}
{##}
{#            var ajax_config = {#}
{#                url: '/col2/',#}
{#                data: {#}
{#                    jj: query_text.value#}
{#                },#}
{#                method: 'get',#}
{##}
{##}
{#                success: function (response) {#}
{##}
{#                    var countries2 = $(response.results);#}
{##}
{#                    if (countries2) {#}
{#                        autocomplete(document.getElementById("myInput2"), countries2);#}
{#                    } else {#}
{#                        $("#myInput2").html("")#}
{#                    }#}
{#                    ;#}
{##}
{#                }#}
{##}
{##}
{#            };#}
{##}
{#            $.ajax(ajax_config)#}
{##}
{#        });#}
{#    });#}
{#</script>#}
{##}
{#<script>#}
{##}
{#console.log(col_1.value)#}
{#    $(document).ready(function () {#}
{#        $('.autocomplete').bind("click change", function () {#}
{#            $('.autocomplete').bind("click change", function () {#}
{#                var query_text = document.getElementById("myInput");#}
{#                var query_text2 = document.getElementById("myInput2");#}
{##}
{#                var ajax_config = {#}
{#                    url: '/col3/',#}
{#                    data: {#}
{#                        jj: query_text.value,#}
{#                        jj2: query_text2.value,#}
{#                    },#}
{#                    method: 'get',#}
{##}
{##}
{#                    success: function (response) {#}
{##}
{#                        var countries3 = $(response.results2);#}
{##}
{#                        autocomplete(document.getElementById("myInput3"), countries3);#}
{#                    }#}
{##}
{##}
{#                };#}
{#                $.ajax(ajax_config);#}
{#            });#}
{#        });#}
{#    });#}
{#</script>#}
{##}
{#<script>#}
{##}
{#    $(document).ready(function () {#}
{#        $('.autocomplete').bind("click change", function () {#}
{#            $('.autocomplete').bind("click change", function () {#}
{#                $('.autocomplete').bind("click change", function () {#}
{#                    var query_text = document.getElementById("myInput");#}
{#                    var query_text2 = document.getElementById("myInput2");#}
{#                    var query_text3 = document.getElementById("myInput3");#}
{##}
{#                    var ajax_config = {#}
{#                        url: '/col4/',#}
{#                        data: {#}
{#                            jj: query_text.value,#}
{#                            jj2: query_text2.value,#}
{#                            jj3: query_text3.value,#}
{#                        },#}
{#                        method: 'get',#}
{##}
{##}
{#                        success: function (response) {#}
{##}
{#                            var countries4 = $(response.results3);#}
{##}
{#                            autocomplete(document.getElementById("myInput4"), countries4);#}
{#                        }#}
{##}
{##}
{#                    };#}
{#                    $.ajax(ajax_config);#}
{#                });#}
{#            });#}
{#        });#}
{#    });#}
{#</script>#}
{##}
{##}
{#<script>#}
{#    $(document).ready(function () {#}
{#        $('.autocomplete').bind("change click", function () {#}
{#            var query_text4 = document.getElementById("myInput4");#}
{##}
{#            $.ajax({#}
{#                url: '/col5/',#}
{#                data: {#}
{#                    jj4: query_text4.value,#}
{#                },#}
{#                method: 'get',#}
{##}
{#cache: false#}
{#            })#}
{#                .done(function (response) {#}
{#                    autocomplete(document.getElementById("myInput5"), response.list_of_description);#}
{##}
{#$("#demo").html(response.res);#}
{#                });#}
{#        });#}
{#    });#}
{#</script>#}
{##}
{##}
{#<script>#}
{#    $(document).ready(function () {#}
{#        $('.autocomplete').bind("change click", function () {#}
{#            var query_text4 = document.getElementById("myInput4");#}
{##}
{#            $.ajax({#}
{#                url: '/col5/',#}
{#                data: {#}
{#                    jj4: query_text4.value,#}
{#                },#}
{#                method: 'get',#}
{##}
{#cache: false#}
{#            })#}
{#                .done(function (response) {#}
{#                    var query_text4 = document.getElementById("myInput5");#}
{##}
{#                    $("#demo").html(response.reverse_akbar[query_text4]);#}
{#                });#}
{#        });#}
{#    });#}
{#</script>#}


{#<script>#}
{#    $(document).ready(function () {#}
{#        $('#demo').bind("change click", function () {#}
{#            var query_text4 = document.getElementById("demo");#}
{##}
{#            $.ajax({#}
{#                url: '/col6/',#}
{#                data: {#}
{#                    jj4: query_text4.value,#}
{#                },#}
{#                method: 'get',#}
{##}
{#cache: false#}
{#            })#}
{#                .done(function (response) {#}
{#                    var countries4 = $(response.res);#}
{##}
{#                    if (countries4) {#}
{#                        var reg1 = \d{6} تا \d{6};#}
{#                        var reg2 = \d{6} -\d{6};#}
{#                        var reg3 = \d{6};#}
{##}
{#                        var Array1 = countries4.match(reg1);#}
{#                        var Array2 = countries4.match(reg2);#}
{#                        var Array3 = countries4.match(reg3);#}
{##}
{########################################################}
{##}
{##}
{#                        $.ajax({#}
{#                            url: '/col7/',#}
{#                            data: {#}
{#                                jj5: Array1,#}
{#                                jj6: Array2,#}
{#                                jj7: Array3,#}
{#                            },#}
{#                            method: 'get',#}
{##}
{#                        })#}
{#                            .done(function (response) {#}
{#                                $("#myInput5").html(response.res);#}
{#                            });#}
{##}
{##}
{########################################################}
{##}
{#                    };#}
{##}
{#                });#}
{#        });#}
{#    });#}
{#</script>#}


<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-12345678-1', 'auto');
    ga('send', 'pageview');
</script>
 -->

</body>
</html>